*{
    padding: 0;
    margin: 0;
    color: black;
}

@font-face{
    font-family: "myfont";
    src: url("fonts/samurai.ttf") format("truetype");
}

.top-img{
    background-image: url("imgs/img01.jpg");
    background-size: cover;
}

.top-text{
    text-align: center;
    padding: 250px 0px;
}

.top-text h1{
    font-size: 100px;
    font-family: "myfont";
}

nav h3{
    font-family: "myfont";
}

nav .fas{
color:#888
}

h1{
    color: crimson;
}